<h1> Password reset - enter your new password </h1>

<form action='/users/password_recover' method='post'>
<label for='email'>
  Email:
  <input type='email' name='email'/>
</label>
<input type='submit' value='Reset password' />
</form>
