<!DOCTYPE html>
<html>
  <head>
    <title>Bookmark Manager</title>
  </head>

  <body>
    <%= "Welcome, #{current_user.name}" if current_user %>
    <% if flash[:errors] %>
    <ul id="errors">
      <% flash[:errors].each do |e| %>
        <li><%= e %></li>
      <% end %>
    </ul>
    <% else %>
    <%= flash[:notice] %>
    <% end %>
    <%= yield %>  <!-- this then yields to the view which has been called by your controller -->
  </body>
</html>
