
<html>
  <head>
    <title>Bookmark Manager</title>
  </head>

  <body>

    <% if flash[:error] %>
      <div id="error"
        <% flash[:error].each do |e| %>
          <p> <%= e %> </p>
        <% end %>
      </div>
    <% end %>
    <% if flash[:notice] %>
      <div id="notice">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if the_user %>
      <%= "Welcome #{@the_user.email}" %>
      <form action="/sessions" method="post">
        <input name="_method" type="hidden" value="delete" />
        <input type="submit" value="Sign Out"/>
      </form>
    <% end %>
    <%= yield %>
  </body>
</html>
